:root {
  --background: #0c0918;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffee07;
  --green: #3cff00;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

body {
  margin: 0;
  /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif;
  background: var(--background);
}

#particles-js {
  height: 100vh;
  background: var(--background);

  /* background: linear-gradient(
    -45deg,
    #3f51b1,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978
  );
  background-size: 400% 400%;
  background-position: 100%;
  animation: gradient 20s ease infinite; */
}
/* HEADER ANIMATION */
/* @keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
} */

@keyframes slideInUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.particle-wrapper {
  position: relative;
}

.icons {
  position: absolute;
}

/* .github-icon-top {
  width: 40px;
  filter: invert(98%) sepia(1%) saturate(126%) hue-rotate(193deg)
    brightness(11%) contrast(100%);
} */

.intro-greeting {
  position: absolute;
  margin: auto;
  top: 80vh;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  font-size: 2rem;
}

.name {
  font-size: 4rem;
  /* font-weight: bold; */

  animation: slideInUp 0.6s 1s cubic-bezier(0.13, 1.09, 0.46, 1.19);
  animation-fill-mode: both;
}

.short-description {
  position: relative;
  background: linear-gradient(to right, #2a1d49 0%, #ffabf4 50%, #2a1d49 100%);
  background-size: 400% 400%;
  background-position: 100%;
  /* background: linear-gradient(to left, #64646493, #4d5394b2); */
  padding: 5px 36px;

  font-family: "Niconne", cursive;
  font-size: 2.2rem;
  transition: 0.2s;

  animation: slideInDown 0.6s 1s cubic-bezier(0.13, 1.09, 0.46, 1.19);
  animation-fill-mode: both;
}

.arrow {
  position: absolute;
  top: 0;
  left: -55px;
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: 0.1s;
}

.push-to-right {
  transition: transform 0.3s;
}

.short-description:hover {
  background-position: 0%;
}

.short-description:hover .push-to-right {
  transform: translateX(20px);
}

.short-description:hover .arrow {
  /* display: inline-block; */
  left: -42px;
  visibility: visible;
  opacity: 1;
}

.container {
  /* padding: 120px; */
}

/* .content-body {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(237, 246, 255);
} */

.content-about {
  /* background: rgb(255, 255, 255); */
  /* color: rgb(44, 44, 44); */
  /* height: 600px; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 200px;
}

.about-syntax {
  font-family: Roboto Mono, Courier New, Courier, monospace !important;
  line-height: 1.5;
  background: rgba(13, 16, 34, 0.5);
  max-width: 700px;
  margin: 0, auto;
  color: rgb(255, 255, 255);
  padding: 30px;
  padding-left: 100px;
}

.content-projects {
  padding: 80px;
  color: white;
  line-height: 1.5;
  /* background: rgb(226, 226, 226); */
}

.content-contact {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: rgb(141, 141, 141);
  background: rgb(4, 9, 22);
}

/* STYLE FOR CODE */

.code-l {
  position: relative;
}

.code-l::after {
  content: attr(data-line-nr);
  position: absolute;
  left: -60px;
  color: #3b3553;
  font-family: Roboto Mono, Courier New, Courier, monospace !important;
  font-size: 16px;
  line-height: 1.6;
  z-index: 3;
  top: 0;
}

.comment,
.dot {
  color: rgb(153, 153, 153);
  display: inline-block;
}

.methods {
  color: var(--indigo);
  display: inline-block;
}
.propname {
  color: var(--yellow);
  /* margin-left: 6px; */
}

.scope {
  color: var(--red);
}

.prop2 {
  color: var(--teal);
}

.string {
  color: var(--green);
}

.number {
  color: var(--orange);
}

.abc {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}
