:root {
  --background: #06040c;
  --blue: #007bff;
  --indigo: #c49fff;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #ff8b96;
  --orange: #fd7e14;
  --yellow: #ffee07;
  --green: #3cff00;
  --teal: #59e8ff;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--background);
  height: 100vh;
}

.main-container {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./assets/bg-stary-night.png') center center;
  background-size: contain;
}

#invite-statement {
  position: absolute;
  top: 520px;
}

#particles-js {
  height: 100vh;
}

@keyframes slideInUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.particle-wrapper {
  position: relative;
}

.icons {
  position: absolute;
}

.intro-greeting {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  align-items: center;

  color: white;
  font-size: 2rem;
}

.intro-greet-container {
  display: flex;
  flex-direction: column;
}

.header-anchor {
  color: white;
  text-decoration: none;
}

.name {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;

  animation: slideInUp 0.6s 1s cubic-bezier(0.13, 1.09, 0.46, 1.19);
  animation-fill-mode: both;
}

.short-description {
  position: relative;
  background: linear-gradient(to right, #2a1d49 0%, #ffabf4 50%, #2a1d49 100%);
  background-size: 400% 400%;
  background-position: 100%;
  padding: 5px 36px;

  font-family: 'Lora', serif;
  font-size: 1.9rem;
  transition: 0.2s;

  animation: slideInDown 0.6s 1s cubic-bezier(0.13, 1.09, 0.46, 1.19);
  animation-fill-mode: both;
}

.arrow {
  position: absolute;
  top: 4px;
  left: -55px;
  font-size: 1.4rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.1s;
}

.push-to-right {
  transition: transform 0.3s;
}

.short-description:hover {
  background-position: 0%;
}

.short-description:hover .push-to-right {
  transform: translateX(20px);
}

.short-description:hover .arrow {
  left: -42px;
  visibility: visible;
  opacity: 1;
}

/* DEMO */
.content-demo {
  padding-bottom: 200px;
}

.demo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
}

.demo-pflanzy {
  margin: 20px 120px;
}

.pflanzy-gif {
  max-width: 340px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.modal-card-gif {
  max-width: 580px;
  border: 4px solid rgba(255, 255, 255, 0.4);
}

.demo-desc {
  position: relative;
  max-width: 580px;
  margin: 40px;
  text-align: right;
  color: white;
  flex: 1;
}

.modal-desc {
  /* max-width: 520px; */
  order: -1;
  text-align: left;
}

.tech-stack.left-align {
  justify-content: flex-start;
}

.demo-modal {
  margin: 0 10px;
}

.demo-header-feature {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #ff78ee;
}

.demo-header-title {
  font-family: 'Montserrat', sans-serif;
  color: #d8d8d8;
}

h2 {
  margin-block-start: 8px;
}

.short-desc-box {
  color: #ececec;
  line-height: 1.6;
}

.demo-desc-bg {
  background: rgb(0, 39, 61);
  padding: 20px;
}

.tech-stack {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: gray;
  height: 26px;
  line-height: 1.2;
  font-size: 0.9rem;
}

.tech-stack-item {
  margin: 0 10px;
  font-family: Roboto Mono, Courier New, Courier, monospace;
  /* line-height: 1; */
}

a {
  text-decoration: none;
}

.live-btn {
  background: #581a45;
  padding: 0 10px;
  border-radius: 4px;
  color: white;
  transition: 0.2s;
  line-height: 2;
}

.live-btn:hover {
  background: #bb1e8c;
}

/* ABOUT */

.content-about {
  display: flex;
  justify-content: center;
}

.profile-card {
  color: rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 60px; */
  margin: 0 140px;
  max-width: 500px;
}

.profile-img {
  width: 240px;
  border-radius: 50%;
}

.intro-name {
  font-family: 'Montserrat', sans-serif;
  padding-top: 28px;
  padding-bottom: 6px;
  font-size: 2.1rem;
}

.intro-snippet {
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 18px;
  margin-bottom: 32px;
}

.social-icons {
  display: flex;
}

.svg-style {
  padding: 0 17px;
  opacity: 0.5;

  transition: 0.2s;
}

.svg-style:hover {
  opacity: 1;
}

.slash {
  font-size: 2rem;
  color: gray;
}

.curly-braces {
  font-size: 2rem;
}

.about-syntax {
  font-family: Roboto Mono, Courier New, Courier, monospace !important;
  line-height: 1.5;
  background: rgba(8, 10, 20, 0.7);
  max-width: 560px;
  color: rgb(255, 255, 255);
  padding: 30px;
  margin: 40px;
  padding-left: 100px;
}

.content-salutation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background: rgba(8, 10, 20, 0.7);
}

.content-salutation::after {
  content: '';
  position: absolute;
  top: 0;
  background: rgba(45, 96, 129, 0.3);
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: skew(0, -4deg);
  transition: 0.2s 0.2s;
  transition-timing-function: ease-out;
}

.content-salutation:hover::after {
  background: rgba(45, 96, 129, 0.2);

  transform: skew(0, 7deg);
}

.profile {
  font-family: 'Lora', serif;
  color: rgb(226, 226, 226);
  font-size: 1.4rem;

  max-width: 770px;
  padding: 80px;
  line-height: 1.5;
}

.sns-links {
  position: relative;
  color: rgb(255, 214, 30);
  text-decoration: none;
}

.sns-links-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(255, 214, 30);
  transition-timing-function: cubic-bezier(0.26, 1.57, 0.65, 1.35);
  transition: 0.1s;
}

.sns-links-underline:hover::after {
  width: 100%;
}

.content-footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: rgb(141, 141, 141);
}

/* FOR INTRO IN "CODE" */

.code-l {
  position: relative;
}

.code-l::after {
  content: attr(data-line-nr);
  position: absolute;
  left: -60px;
  color: #3b3553;
  font-family: Roboto Mono, Courier New, Courier, monospace !important;
  font-size: 16px;
  line-height: 1.6;
  z-index: 3;
  top: 0;
}

.comment {
  color: rgb(153, 153, 153);
  display: inline-block;
}

.dot {
  color: rgb(54, 54, 54);
  display: inline-block;
}

.methods {
  color: var(--indigo);
  display: inline-block;
}
.propname {
  color: var(--yellow);
}

.scope {
  color: var(--red);
}

.prop2 {
  color: var(--teal);
}

.string {
  color: var(--green);
}

.number {
  color: var(--orange);
}

.blinker {
  margin-right: 10px;
}

.blinker::after {
  content: '';
  width: 1px;
  height: 18px;
  background: white;
  position: absolute;
  bottom: 4px;
  animation: blinkerAnime 0.4s infinite alternate;
}

@keyframes blinkerAnime {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* MEDIA QUERY */

@media (max-width: 980px) {
  .content-about {
    display: block;
  }

  .about-syntax {
    max-width: 100%;
    margin: 10px;
    margin-top: 300px;
  }

  .profile-card {
    max-width: inherit;
  }

  .profile {
    padding: 40px 10px;
  }

  .arrow {
    top: -5px;
  }

  .demo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .demo-desc {
    text-align: left;
    margin: 40px 20px;
  }

  .modal-card-gif {
    padding: 0;
    margin-bottom: 60px;
  }

  .demo-modal {
    margin: 0;
  }

  .modal-desc {
    order: 0;
  }

  .tech-stack {
    justify-content: flex-start;
  }
}

@media (max-width: 582px) {
  .name {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6rem;
  }

  .short-description {
    font-size: 1.2rem;
    padding: 5px 24px;
  }

  .intro-name {
    font-size: 1.8rem;
  }

  .short-description:hover .arrow {
    font-size: 1rem;
    top: 2px;
    left: -34px;
  }

  .modal-card-gif {
    width: 440px;
  }
}
